<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" style="width:100%;height:100%;">
<head>
    <meta http-equiv="Content-Type" content="text/html, charset=utf-8, width=device-width, initial-scale=1.0"
          name="viewport"/>
    <title>Flow Diagram with SVG</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<header>
    <div class="row">
        <div class="col-3">
            <div class="header-logo">
                <img src="{{ url_for('static', filename='innova-logo.png') }}" alt="Innova Logo" width="306"
                     height="56">
            </div>
        </div>
        <div class="col-9">
            <div class="header-text">PyCodeFlow</div>
        </div>
    </div>
</header>
<div class="content">
    <div class="row">
        <div class="col-3 p-0">
            <div class="section-left">
                <div class="file-upload-section">
                    <form id="package_form" action="/upload-file" method="POST" enctype="multipart/form-data"
                          onsubmit="return:false;">
                        <p>Upload your compressed Python project file (.zip, .rar)</p>
                        <!--<p><input id="upload_button" type="file" class="btn btn-default btn-xs" name="file"/></p>-->
                        <div class="file-upload">
                            <div class="file-select">
                                <div class="file-select-button" id="fileName">Choose File</div>
                                <div class="file-select-name" id="noFile">No file chosen...</div>
                                <input type="file" name="file" id="chooseFile">
                            </div>
                        </div>
                        <a id="submit_upload_button" href="javascript:;" class="btn btn-success">Upload</a>
                        <!--{% with messages = get_flashed_messages() %}
                        {% if messages %}
                        <ul class='flashes'>
                            {% for message in messages %}
                            <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% endwith %}-->
                    </form>
                </div>
                <div id="file-tree" class="box"></div>
            </div>
        </div>
        <div class="col-9 p-0" style="background-color: lightblue">
            <div id="show-svg" class="section-right"></div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='jquery-3.6.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
<script type="text/javascript">
$(document).ready(function(){
$('#chooseFile').bind('change', function () {
  var filename = $("#chooseFile").val();
  if (/^\s*$/.test(filename)) {
    $(".file-upload").removeClass('active');
    $("#noFile").text("No file chosen...");
  }
  else {
    $(".file-upload").addClass('active');
    $("#noFile").text(filename.replace("C:\\fakepath\\", ""));
  }
});
$('#submit_upload_button').on('click',function(){
var form = $(this).parents("form");
var formData = new FormData(form[0]);
$.ajax({
    type: "POST",
    url: form.attr('action'),
    processData: false,
    contentType: false,
    data: formData
  }).done(function(response){
  if(response != null) {
  $('#file-tree').show();
  $('#file-tree').html(response);
  }
  });
});

$(document).on('click','#file-tree .folder .clickable_folder', function(){
$(this).next('ul').fadeToggle('slow');
});


$(document).on('click','#file-tree .folder .clickable_file', function(){
var formData = new FormData();
formData.append('filename', $(this).html());
$.ajax({
    type: "POST",
    url: "/show-svg",
    processData: false,
    contentType: false,
    data: formData
  }).done(function(response){
  if(response != null) {
$('#show-svg').html(response);
<!--$('#show-svg svg').removeAttr('width');-->
<!--$('#show-svg svg').removeAttr('height');-->
  }
  });
});

$(document).on('click','.node.clickable', function(){
var class_list = $(this)[0].classList;
var filename = class_list[3];
var directory_list_file = $('.directory-list').find("li label[data-file-name='"+filename+"']");
var node_name = $(this).find("text").text();
var getClass = this.className.baseVal;

var num = getClass.split(" ")[2];
var numstr = num.toString();
const str = numstr;
var stringnum = '_' + str;
var node = '.invis-node' + stringnum;
var edge = '.invis-edge' + stringnum;
<!--$(node).fadeToggle('slow');-->
<!--$(edge).fadeToggle('slow');-->
$(this).toggleClass('clicked');
if($(this).hasClass('clicked')){
directory_list_file.text(filename + ' (' + node_name + ')');
directory_list_file.css("color","palevioletred");
$(node).fadeIn('slow');
$(edge).fadeIn('slow');
}else{
directory_list_file.text(filename);
directory_list_file.css("color","#888");
$(node).fadeOut('slow');
$(edge).fadeOut('slow');
}


<!--$(this).prev('.edge.invis-edge').fadeToggle('slow');-->
});


});



</script>
</body>
</html>